.App {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin: 0.3em 0;
    color: red;
    font-weight: 700;
}
h2 {
    font-size: 1.5rem;
    margin: 0.3em 0;
    color: black;
    font-weight: bold;
}
p {
    font-size: 1.5rem;
    margin: 0.67em 0;
    color: black;
    font-weight: bold;
}
.mainImage {
    width: 400px;
    margin-top: 1em;
}
.myBtn {
    background-color: #e1e1e1;
    border: 4px solid red;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}
.sport-prompt {
    font-size: 3rem;
    margin: 0.67em 0;
    color: black;
    font-weight: bold;
}
.sport-selected {
    font-size: 2rem;
    margin: 0.67em 0;
    font-weight: bold;
}
